<div class="container-fluid">
    <div class="row min-vh-100">
        <!-- left-side  -->
        <div class="col-12 col-md-6 d-none d-md-flex bg-main mx-auto p-5">
            <div class="my-4 ms-5">
            <h2 class="text-white font-Bold-s30">
                The biggest international<br>
                and local film streaming
            </h2>
            <span class="text-white-opacity-50 font-Regular-s16">
                You can watch as much as you want,whenever<br>
                you want, without any ads. You'll always find something<br>
                new to discover, and new TV shows and movies<br>
                are added every week!      
            </span>

            </div>

        </div>
        <!-- Right-side  -->
        <div class="col-12 bg-white col-md-6 mx-auto py-3 px-5 d-flex align-items-center flex-column gap-3">
            <!-- Page title -->
            <h2 class="font-Bold-s26 text-main">CimaMax</h2>
            <div class="d-flex align-items-center flex-column mt-4 w-100 gap-3 gap-md-2">
                <span class="text-secondry font-Bold-s28 pt-2 w-75 text-center">
                    Hey there,<br>
                    welcome back
                </span>
                 <!-- SOCIAL LOGIN  -->
                <div class="d-flex flex-column gap-3 w-100">
                    <button 
                     class="btn bg-support2 bg-hover-main font-Regular-s18 border-f-radius-s20 py-2 px-3 d-flex align-items-center flex-row justify-content-center gap-2"
                     (click)="loginWithGoogle()">
                        <i class="iC-Google-Icon img-Background-Contain iC-S22 d-flex"></i>
                        Login With Google
                    </button>
                    <button 
                    class="btn bg-support2 bg-hover-main font-Regular-s18 py-2 px-3 border-f-radius-s20 d-flex align-items-center flex-row justify-content-center gap-2"
                    (click)="loginWithFacebook()"
                    >
                        <i class="iC-Facebook-Icon img-Background-Contain iC-S22 d-flex"></i>
                        Login With Facebook
                    </button>   
                    <div class="d-flex align-items-center my-3 w-100">
                        <hr class="line bg-support1" />
                        <span class="mx-2 text-secondary font-Regular-s16">or log in with</span>
                        <hr class="line bg-support1" />
                    </div>    
                </div>   
                <div *ngIf="error" class="alert alert-danger m-2">{{error}}</div>
                <!-- Reactive form binding + submit handler -->
                <form class="w-100 text-secondry d-flex flex-column gap-3" [formGroup]="loginForm" (ngSubmit)="submitLoginForm(loginForm)">
                    <!-- ================= Email ================= -->
                     <div class="d-flex flex-column gap-1">
                        <label class="ps-2 font-Regular-s16" for="email">Email:</label>
                        <input class="form-control Border-Main-s1 border-f-radius-s20 bg-support2 py-2 px-3" formControlName="email" type="email" placeholder="Enter your email">
                        <!-- Email validation messages -->
                        <div *ngIf="validate('email')" class="invalid-feedback d-block">
                            <p class="m-0 ps-2 font-Regular-s16" *ngIf="loginForm.get('email')?.errors?.['required']">Email is required</p>
                            <p class="m-0 ps-2 font-Regular-s16" *ngIf="loginForm.get('email')?.errors?.['email']">Please enter a valid email.</p>
                        </div>
                     </div>
                    <!-- ================= Password ================= -->
                     <div class="d-flex flex-column gap-1">
                        <label class="ps-2 font-Regular-s16" for="password">Password:</label>
                        <div class="Border-Main-s1 bg-support2 border-f-radius-s20 d-flex align-items-center ps-3">
                            <!-- Input field -->
                            <input 
                                formControlName="password"
                                [type]="isPasswordVisible ? 'text' : 'password'"
                                class="font-Regular-s16 border-0 p-0 form-control py-2 bg-support2" 
                                placeholder="Enter your password"
                            >
                            <!-- Toggle button -->
                            <button 
                                type="button" 
                                class="d-flex justify-content-center gap-3 py-2 px-3 h-100 align-items-center border-l-radius-s50 Border-Main-s1 bg-main py-2" 
                                (click)="togglePasswordVisibility()" 
                                aria-label="Toggle password visibility"
                            >
                                <i class="fa text-white" [ngClass]="isPasswordVisible ? 'fa-eye-slash' : 'fa-eye'"></i>
                            </button>
                        </div>
                        <!-- Password validation messages -->
                        <div *ngIf="validate('password')" class="invalid-feedback d-block">
                            <p class="m-0 ps-2 font-Regular-s16" *ngIf="loginForm.get('password')?.errors?.['required']">Password is required</p>
                            <p class="m-0 ps-2 font-Regular-s16" *ngIf="loginForm.get('password')?.errors?.['pattern']">
                                Password must be at least <strong>8 characters</strong> and include 
                                <strong>uppercase, lowercase, and a number</strong>.
                            </p>
                        </div>
                        <a class="text-main font-Bold-s14 align-self-end" [routerLink]="['/resetPassword']">Forgot Password</a>
                     </div>
                    <!-- Submit button (disabled if form is invalid) -->
                    <button [disabled]="loginForm.invalid" class="btn font-SemiBold-s18 border-f-radius-s20 bg-main text-white">Log in</button>
                    <span class="text-secondary font-Regular-s16 align-self-center">
                        Dont have an account? 
                        <a class="font-Bold-s16 text-main" [routerLink]="['/register']">register</a>
                    </span>
                </form>

            </div>
            
        </div>

    </div>
</div>
