.img-Background-Cover{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.img-Background-Contain {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.img-cover{
background-image: linear-gradient(7deg, 
        rgba(0, 0, 0, 0.85) 10%, 
        rgba(0, 0, 0, 0.84) 17%, 
        rgba(0, 0, 0, 0.6) 97%
    ), 
    url('../assets/images/cover.jpg');;
}

.iC-User-Grey-Icon {
  background-image: url(../assets/icons/User-Grey.svg);
}
.iC-S50 {
  width: 50px;
  height: 50px;

  @media (max-width: 992px) {
    width: 30px;
    height: 30px;
  }
}
